<!-- filepath: c:\Users\arman\Desktop\Classes\SFHacks2025\SFHacks2025\public\views\exerciseExplainer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Exercise Explainer</title>
</head>
<body>
    <div class = "exerciseExplainer">
        <h1 class = "explHead"><%= exerciseInfo.exerciseHeader %></h1>
        <p class = "explP"><%= exerciseInfo.exerciseText %></p> %>
    </div>
</body>
</html>